/node_modules
/working
/public/storage
/public/vendor
/public/themes
/public/uploads/*
/storage/*
/vendor
/.idea
/dist/*.zip
/dist/uncompressed/*
/assets/dist
/bootstrap/cache
hotel.sublime-*
Homestead.json
Homestead.yaml
.env
yarn.lock
composer.lock
node_modules/
*.css.map
*.package-lock.json


